<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>PlantSheets</title>
    </head>
    <body>
        <div class="header">
            <header>
                PlantSheets
            </header>
            <aside>
                Plant categories
            </aside>
            <main class= "main">
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </main>
            <footer class = "footer">
                MIT license, open source project!
            </footer>
        </div>

    </body>
</html>